<header>
	<nav class="round">
     <ul>
    	<li><%= link_to "Автомобили", '#' %></li>
        <li><%= link_to "Тарифы", '#' %></li>
   		<li><%= link_to "Условия аренды", '#' %></li>
   	 </ul>
 	</nav>
</header>